body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
    color: #333;
}

h1 {
    text-align: center;
    color: #666;
}

#task-form {
    margin-bottom: 30px;
}

#task-input {
    width: 70%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#task-form button {
    width: 20%;
    background-color: #5C6BC0;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

#task-form button:hover {
    background-color: #7986CB;
}

#task-list {
    list-style-type: none;
    padding: 0;
}

#task-list li {
    margin-bottom: 10px;
    background-color: #ddd;
    padding: 10px;
    border-radius: 5px;
}

#task-list .edit-button,
#task-list .delete-button {
    margin-left: 10px;
    cursor: pointer;
}